html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customMind.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="aboutPage")

		include nav
		br
		br
		//- div(class="row")
		//- 	h1(id="centreTitleAbout") About


		div(class="row" id="bannerAbout1")
			div(class="text-center")
				h3 A tracker for the things that matter.
				p Learn more about how you have been feeling recently


		div(class="row" id="bannerAbout2")
			div(class="text-center")
				h3 Recommendations to improve or maintain your mood.
				p Includes proven techniques such as breathing exercises and dietary suggestions

		div(class="row" id="bannerAbout3")
			div(class="text-center")
				h3 Share how you are feeling with other users.
				p Interactive blog posting

	
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

