html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customMind.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="recommendationPage")

		include nav
		br
		br
		div#recommendations(class="row")
				h1(id="centreTitleRecommendation") Recommendations



		div(class="row" id="bannerRecommendation1")
			div(id="breathContainer" class="col-lg-4 col-lg-offset-4")

				h3 Breathing Exercise
				p Controlling your breathing rythmns can help with focusing and stress. Try and focus on the breathing pattern below.

				img(id="breathingGif" src="/images/recommendations/breathgif.gif")

		div(class="row" id="bannerRecommendation2")
			div(id="videoContainer" class="col-lg-4 col-lg-offset-4")
				h3 Diet and Mood
				p Dr Berg shows in this video the importance of food connection to mood.
				iframe(width='400', height='360', src='https://www.youtube.com/embed/9MpeSudXyRs', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				
		div(class="row" id="bannerRecommendation3")
			div(id="videoContainer" class="col-lg-4 col-lg-offset-4")
				h3 Importance of exercise
				p A quick video on why exercise helps and how to start with it.
				iframe(width='400', height='360', src='https://www.youtube.com/embed/mJW7dYXPZ2o', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

		br
		br


	
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

